.refInternalLink {
  color: inherit;
  text-decoration: none;
}

.theoremContainer {
  background-color: #ddd;
}

.theoremContainer[data-mathdoc-id="theorem"] {
  color: red;
}

.proofEndMark {
  float: right;
}
